asgiref==3.4.1
certifi==2021.10.8
charset-normalizer==2.0.10
click==8.0.3
Deprecated==1.2.13
Django==4.0.1
django-environ==0.8.1
django-rq==2.5.1
djangorestframework==3.13.1
idna==3.3
packaging==21.3
psycopg2-binary==2.9.3
pyparsing==3.0.6
pytz==2021.3
redis==4.1.0
requests==2.27.0
rq==1.10.1
sqlparse==0.4.2
urllib3==1.26.7
wrapt==1.13.3
supervisor==4.2.4
